*
{
 padding:0px;
 margin:0px;
}

body
{
 background-image: url("photos/smaller.jpg");
 font: 15px arial, sans-serif;
}

#wrapper
{
 width:100%;
 height:100%;
}

#titleOfPage
{
 position:relative;
 left:1%;
 font-size: 25px;
 color:yellow;
}

#linksToWebsites
{
 position:relative;
 top:30%;
 left:10%;
}

#linkToPhotosDiv,#linkToDartsDiv
{
 color:yellow;
}

#versionInfo
{
 width:100%;
 position:relative;
 top:95%;
 text-align:center;
 border-bottom: solid 1px black;
 border-top: solid 1px black;
}








